/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --bordo: 1px dashed black;
    --padding: 40px 0;
}

            /* HEADER*/

header {
    
            /* debug*/
    background-color: #add8e6;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.header-tab {
    padding: 10px;
            /* debug*/
    background-color: #daa520;
    border: var(--bordo);
    
}

.large {
    flex-grow: 1;
    text-align: center;
}

.small {
    flex-basis: 200px;
}

                /*MAIN*/

                /* SECTION 1*/
.main-1 {
    padding: var(--padding);
          
            /*debug*/
    background-color: #00008b;
}

.card {
    width: 700px;
    height: 300px;
    margin: 0 auto;

            /*debug*/
    background-color: #ee82ee;
    border: var(--bordo);
}

                /* SECTION 2*/

.double-1 {
    display: flex;
    align-items: stretch;
    padding: var(--padding);
}

.card-blu {
    width: 600px;
    height: 300px;
    

                /*debug*/
    background-color: #1e90ff;
    border: var(--bordo);
}


.card-rosa {
    width: 400px;
    height: 300px;
    
            /*debug*/
    background-color: #ffc0cb;
    border: var(--bordo);
}